.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.root {
  flex-grow: 1;
}
.menuButton {
  margin-right: 2pt;
}
.title {
  flex-grow: 1;
}

.login-container {
  display: flex;
  justify-content: center;
}
.logIn {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.login-button {
  background: #3f51b5;
  width: 300px;
  height: 25px;
}
.online-mode{
  border: 1px solid red;
  width: 20%;
  margin-top: 10%;
}
.Master-volume{
  border: 1px solid blue;
  width: 20%;
  margin-top: 10%;
}

.Sound-quality{
  border: 1px solid green;
  width: 20%;
  margin-top: 10%;
}
.dashboard-container{
  display: flex;
  justify-content: space-around;
}
h1{
  height: 30px;
  margin-left: 100px;
  color: grey;
}